doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://ss0.bdstatic.com/5aV1bjqh_Q23odCf/static/superman/js/lib/jquery-1.10.2_d88366fd.js')
    script(src='/js/user.js')
    script(src='/js/socket.io.js')
    script(src='/js/chat.js')
  body
    block content
